@import "variables";

@mixin container() {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-widths) {
    width: 768px;
  }

  @media (min-width: $desktop-widths) {
    width: 1150px;
  }
}

@mixin clear-ul-items() {
  margin: 0;
  padding: 0;
  list-style: none;
}
