.about {
  margin: 30px;
  font-weight: bold;
}

.about__title {}

.about__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about__item {
  font-size: 16px;
}

@media (min-width: $tablet-widths) {
  .about {
    margin: 50px;
  }

  .about__title {
    font-size: 43px;
  }

  .about__items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 420px;
  }

  .about__item {
    width: 50%;
    font-size: 20px;
    line-height: 22px;
    padding-right: 41px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-widths) {
  .about {
    margin: 50px 225px;
  }

  .about__title {
    font-size: 53px;
  }

  .about__item {
    padding-right: 57px;
  }
}
