.about {
  margin: 30px;
  font-weight: bold;
}

.about__title {

}

.about__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about__item {
  //font-weight: bold;
  font-size: 16px;
}

@media (min-width: $tablet-widths) {
  .about {
    margin: 50px;
  }

  .about__title {
    font-size: 43px;
  }

  .about__items {
    column-count: 2;
  }

  .about__item {
    width: 45%;
    margin: 20px 0;
  }


}
