.page-catalog {
  margin: 0 30px;
}

.catalog-logan {
  margin: 0 -30px;
  font-family: "Opensans", sans-serif;
  font-weight: bold;
  width: 320px;
  height: 180px;
  background-color: #f1f1f1;
  display: table;
}

.catalog-logan__title {
  font-size: 27px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
