.form-order {
  margin: 0 30px;
}

.form-order__text {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 24px;
  color: $color-text;
}

.form-order__fieldset {
  border: none;
  padding: 20px 0;
}

.form-order__legend {
  color: #63d1bb;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  position: relative;
  background-color: white;
  z-index: 5;
  //margin-bottom: 20px;
}

.form-order__legend::after {
  border-top: 1px solid #63d1bb;
  width: 198px;
  content: "";
  display: block;
  position: absolute;
  top:50%;
  right: 0;

}

@media (min-width: $tablet-widths) {
  .form-order {
    margin: 0 50px;
  }

  .form-order__text {
    font-size: 17px;
    line-height: 30px;
  }

  .form-order__legend::after {
    display: none;
  }

  .form-order__fieldset {
    position: relative;
    padding-left: 217px;
  }

  .form-order__legend {
    position: absolute;
    width: auto;
    left: 0px;
    top: 0;
    background: none;
  }

  .form-order--background-grey {
    background-color: #f1f1f1;
    margin: 0 -50px;
    padding-left: 267px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .form-order--background-grey .form-order__legend {
    left: 50px;
    top: 35px;
  }

  .input-label-checkbox {
    float: left;
    width: 50%;
  }

  .form-order--bottom {
    display: flex;
    flex-direction: row-reverse;
  }

  .form-order--submit {
    width: 230px;
    margin-right: auto;
  }

}

@media (min-width: $desktop-widths) {
  .input-label-checkbox {
    width: 30%;
  }
}
