.goods {
  margin: 0 30px;
}

.good__img {
  height: 195px;
  margin-top: 30px;
}

@media (min-width: $tablet-widths) {
  .goods {
    margin: 0 50px;
  }

  .good {
    display: flex;
    margin-top: 55px;
    height: 334px;
  }

  .good__img {
    width: 50%;
    margin-top: 0;
  }

  .good__img img {
    width: 334px;
    height: 334px;
  }
}

@media (min-width: $desktop-widths) {
  .goods {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 659px;
    margin-top: 67px;
  }

  .good {
    margin-top: 0;
    width: 316px;
    height: 462px;
    display: block;
  }

  .good__img {
    width: 316px;
    height: 462px;
  }

  .good__img img {
    width: 316px;
    height: 462px;
  }
}
