.good-week {
  margin: 30px;
}

.good-week__title {
  font-family: "Opensans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.good-week__aside {
  font-family: "Opensans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #63D1BB;
  text-transform: uppercase;
}

.good-week__intro {
  color: #858585;
  font-size: 15px;
  line-height: 24px;
}

.good-week__items {
  color: #858585;
  font-size: 15px;
  border-collapse: collapse;
  width: 100%;
}

.good-week__item {
  border-bottom: 1px solid #ECECEC;
  padding: 10px 0;
}

.good-week__image {
  margin: 30px 0;
}

.good-week__price {
  text-align: center;
  font-family: "Opensans", sans-serif;
  font-weight: bold;
  color: $color-text;
}

@media (min-width: $tablet-widths) {
  .good-week {
    margin: 0 50px;
  }

  .good-week__header {
    margin-top: 41px;
    //margin-bottom: 50px;
    display: flex;
    align-items: center;
  }

  .good-week__title {
    font-size: 43px;
  }

  .good-week__wrapper {
    margin: 41px 0;
    height: 404px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .good-week__intro {
    margin-top: 0;
    font-size: 17px;
    line-height: 30px;
    width: 50%;
    padding-right: 40px;
    box-sizing: border-box;
  }

  .good-week__items {
    width: 291px;
  }

  .good-week__price {
    font-size: 20px;
    width: 291px;
    margin-top: 20px;
  }

  .good-week__button {
    width: 292px;
    height: 52px;
    margin-bottom: 0;
    margin-top: 0px;
  }

  .good-week__aside {
    width: 100px;
    text-align: center;
    font-size: 17px;
    line-height: 17px;
    margin-left: auto;
  }

  .good-week__image {
    margin: 0;
    order: 1
  }

  .good-week__image img {
    height: 404px;
    width: 333px;
  }
}

@media (min-width: $desktop-widths) {
  .good-week__section {
    position: relative;
    margin: 70px 0;
  }

  .good-week__header {
    position: absolute;
    flex-direction: row-reverse;
  }

  .good-week__title {
    margin-right: auto;
    font-size: 53px;

  }

  .good-week__aside {
    margin-left: 0px;
    width: 175px;
    padding: 0 30px;
    box-sizing: border-box;
  }

  .good-week__wrapper {
    height: 636px;
    margin: 0;
  }

  .good-week__intro {
    padding-top: 160px;
    padding-left: 175px;
    padding-right: 50px;
  }

  .good-week__items{
    margin-left: 175px;
  }

  .good-week__price {
    margin-left: 175px;
  }

  .good-week__image img {
    width: 525px;
    height: 636px;
  }

  .good-week__button {
    margin-left: 175px;
  }
}
