.good-order {
  padding-top: 20px;
}
.good-order__price {
  font-weight: bold;
  font-size: 15px;
  display: inline-block;
  margin: 0;
}

.good-order__basket {
  float: right;
  top: 50%;
  opacity: 0.2;
}

@media (min-width: $tablet-widths) {
  font-size: 17px;
}

@media (min-width: $desktop-widths) {
  .good-order {
    height: 73px;
    padding-top: 20px;
    margin-top: 0;
    box-sizing: border-box;
  }

  .good-order__price {
    font-size: 17px;
  }
}
