.good-week {
  margin: 30px;
}

.good-week__title {
  font-family: "Opensans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.good-week__aside {
  font-family: "Opensans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #63D1BB;
  text-transform: uppercase;
}

.good-week__intro {
  color: #858585;
  font-size: 15px;
  line-height: 24px;
}

.good-week__items {
  color: #858585;
  font-size: 15px;
  border-collapse: collapse;
  width: 100%;
}

.good-week__item {
  border-bottom: 1px solid #ECECEC;
  padding: 10px 0;
}

.good-week__image {
  margin: 30px 0;
}

.good-week__price {
  text-align: center;
  font-family: "Opensans", sans-serif;
  font-weight: bold;
  color: $color-text;
}

@media (min-width: $tablet-widths) {
  .good-week {
    margin: 50px;
  }

  .good-week__header {
    display: flex;
    align-items: center;
  }

  .good-week__title {
    font-size: 43px;
  }

  .good-week__aside {
    width: 100px;
    text-align: center;
    font-size: 17px;
    line-height: 17px;
    margin-left: auto;
  }

  .good-week__descr {
    float: left;
    width: 50%;
    padding-right: 50px;
    box-sizing: border-box;
  }

  .good-week__image {
    float: right;
    width: 50%;
    height: 404px;
  }

  .good-week__button {
    width: 50%;
  }
}

@media (min-width: $desktop-widths) {
  .good-week__section {
    position: relative;
  }

  .good-week__header {
    flex-direction: row-reverse;
  }

  .good-week__title {
    margin-right: auto;
  }

  .good-week__aside {
    margin-left: 0;
    width: 175px;
  }

  .good-week__descr {
    float: none;
    margin-left: 175px;
    width: 350px;
  }

  .good-week__price {
    width: 50%;
    margin-left: 175px;
    width: 350px;
  }

  .good-week__image {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    z-index: -1;
  }

  .good-week__button {
    width: 350px;
    margin-left: 175px;
    margin-right: 30px;
  }
}
