.good-item {
  border: 1px solid #ededed;
  padding: 30px;
}

.good-item__title {
  font-family: "Opensans", sans-serif;
  font-weight: bold;
  font-size: 17px;
  margin: 0;
}

.good-item__info {
  font-size: 13px;
  color: $color-text;
}

.good-item__line {
  color: red;
}
