.good-item {
  border: 1px solid #ededed;
  padding: 29px 28px;
}

.good-item__title {
  font-weight: bold;
  font-size: 17px;
  margin: 0;
}

.good-item__info {
  font-size: 13px;
  color: $color-text;
}

.good-item__line {
  color: red;
}

@media (min-width: $tablet-widths) {
  .good-item {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-left: none;
    //border-right: none;
  }

  .good-item__title {
    font-size: 20px;
  }

  .good-item__info {
    font-size: 15px;
  }

  .good-order {
    margin-top: auto;
    border-top: 1px solid #ededed;
  }
}

@media (min-width: $desktop-widths) {
  .good-item {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 197px;
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid #ededed;
  }

  .good-item__title {
    padding-top: 29px;
  }

  .good-item__info {
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}
