.good-item {
  border: 1px solid #ededed;
  padding: 30px;
}

.good-item__title {
  font-weight: bold;
  font-size: 17px;
  margin: 0;
}

.good-item__info {
  font-size: 13px;
  color: $color-text;
}

.good-item__line {
  color: red;
}

@media (min-width: $tablet-widths) {
  .good-item {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-left: none;
    border-right: none;
  }

  .good-order {
    margin-top: auto;
    border-top: 1px solid #ededed;
  }
}

@media (min-width: $desktop-widths) {
  .good-item {
    width: auto;
    border: 1px solid #ededed;
  }
}
