.page-main {
  background: url("/img/hero-mobile@1x.jpg") no-repeat;
  background-position: top;
}

.page-main-logan {
  height: 489px;
  display: flex;
  flex-direction: column;

}

.page-main-delivery {
  display: none;
}

.page-main-title {
  font-weight: bold;
  font-size: 27px;
  text-align: center;
  margin: 0;
  padding: 70px 30px;
}

@media (min-width: $tablet-widths) {
  .page-main-logan {
    height: 745px;
  }

  .page-main-delivery {
    align-self: flex-end;
    margin-right: 50px;
    margin-top: 20px;
    display: inline;
  }

  .page-main-title {
    font-size: 43px;
    padding: 100px 50px;
  }

}
