.page-header-nav__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-header-nav__item a {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: bold;
  font-size: 17px;
  color: black;
  text-decoration: none;
}

.page-header-nav__search::before {
  content: "";
  width: 18px;
  height: 19px;
  background: url("/img/icon-search.svg") no-repeat;
  opacity: 0.2;
  position: absolute;
  left: 30px;
}

.page-header-nav__basket::before {
  content: "";
  width: 21px;
  height: 19px;
  background: url("/img/icon-cart.svg") no-repeat;
  opacity: 0.2;
  position: absolute;
  left: 30px;
}

.page-header-nav--item-new {
  display: none;
}

.page-header-nav--item-sale {
  display: none;
}

.page-header-nav__toggle {
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  margin: auto 30px;
  display: block;
  border: none;
  background: none;
  width: 21px;
  height: 21px;
  font-size: 0;
}

.page-header-nav--toggle-open {
  background: url("/img/icon-menu-open.svg") no-repeat;
}

.page-header-nav--toggle-close {
  background: url("/img/icon-menu-close.svg") no-repeat;
}



@media (max-width: $mobile-width-only) {
  .page-header-nav {
    position: absolute;
    background-color: white;
    width: 320px;
  }

  .page-header-nav--closed {
    display: none;
  }

  .page-header-nav__item a {
    padding-left: 74px;
    position: relative;
    border-top: 1px solid #ececec;
  }
}

@media (min-width: $tablet-widths) {
  .page-header-nav {
    position: absolute;
    top: 0;
    right: 0;
    height: auto;
  }

  .page-header-nav__toggle {
    display: none;
  }

  .page-header-nav__items {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 0 50px;
  }

  .page-header-nav__item {
    height: 89px;

  }

  .page-header-nav__item a {
    padding-top: 33px;
    padding-bottom: 33px;
    font-size: 15px;
  }

  .page-header-nav--item-catalog  {
    margin-left: 0px;

  }

  .page-header-nav--item-knitting  {
    order: -1;
    margin-left: 36px;
    margin-right: auto;

  }

  .page-header-nav__item:nth-child(3)  {
    order: -2;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    margin-left: 200px;

    //flex-grow: 1;
  }

  .page-header-nav__item:nth-child(4)  {
    order: -3;
    padding-left: 33px;
  }

  .page-header-nav__item .page-header-nav__search {
    font-size: 0;
    padding:33px;

  }

  .page-header-nav__item .page-header-nav__basket {
    font-size: 17px;
  }

  .page-header-nav__search::before,
  .page-header-nav__basket::before {
    display: inline-block;
    position: inherit;
  }

  .page-header-nav__basket::before {
    width: 54px;
  }

}

@media (min-width: $desktop-widths) {
  .page-header-nav__items {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .page-header-nav {
    top:0;
    left: 0;
  }

  .page-header-nav__item:nth-child(2)  {
    order: 0;
  }

  .page-header-nav__item:nth-child(3)  {
    order: 0;
  }

  .page-header-nav__item:nth-child(4)  {
    order: 0;
  }
}
