.page-main-nav {
  margin-top: auto;
}

.page-main-nav__items {
  @include clear-ul-items();
}

.page-main-nav__item {
  margin: 0;
  background-repeat: no-repeat;
  background-position: 85%;
  //box-sizing: border-box;
}

.page-main-nav__interior {
  background-color: #63D1BB;
  background-image: url("/img/icon-interior.svg");
  background-size: 41px auto;
}

.page-main-nav__toys {
  background-color: #53BEAD;
  background-image: url("/img/icon-toy.svg");
}

.page-main-nav__link {
  color: white;
  font-weight: bold;
  font-size: 18px;
  display: block;
  text-decoration: none;
  padding-left: 36px;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: $tablet-widths) {
  .page-main-nav {
    margin-left: 50px;
    margin-right: 50px;
  }

  .page-main-nav__item {
    width: 50%;
    height: 120px;
    float: left;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    box-sizing: border-box;
  }

  .page-main-nav__link {
    font-size: 20px;
    padding-top: 36px;
  }
}
